body {
	font: 1em sans-serif;
}

.container {
	display: flex;
}

.vertical {
	writing-mode: vertical-rl;
}

canvas {
	max-width: 38em;
}

details {
	max-width: 32em;
	width: fit-content;
}

details {
	margin: .5em;
}

th,
td {
	max-width: 13em;
}

td,
th,
summary,
details[open] {
	padding: .5em;
}

button,
input,
select,
details {
	border: .125em solid black;
}

td:not(:last-child),
th:not(:last-child) {
	border-right: .125em solid black;
}

tr:not(:last-child) th,
tr:not(:last-child) td,
details[open] summary {
	border-bottom: .125em solid black;
}

hr {
	border: .0625em solid black;
}

details {
	padding: .5em .5em 0;
}

table {
	overflow: auto;
	display: inline-block;
	max-height: 32em;
	border-spacing: 0;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
}

details[open] summary {
	margin-bottom: .5em;
}

#upload {
	display: none;
}

button,
input,
select {
	background-color: gainsboro;
	padding: .2em .4em;
	margin: .2em 0;
	font-size: .8em;
	color: black;
}

button,
input,
select,
canvas,
details {
	border-radius: .25em;
}

.meter {
	display: grid;
	grid-template-columns: 1em 1fr;
	width: min-content;
	margin-right: .5em;
}

span {
	text-align: center;
	padding: .1em;
}

td a {
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 69.5em) {
	details {
		float: right;
	}
}

@media screen and (min-width: 74.75em) {
	.meter {
		float: left;
	}
}

@media screen and (max-width: 41em) {
	canvas {
		width: 100%;
	}

	.meter {
		width: 97.5%;
	}
}

@media screen and (max-width: 35.25em) {
	table {
		max-width: 100%;
	}

	details {
		max-width: 100%;
	}
}

@media screen and (max-width: 25.1875em) {
	details {
		width: unset;
	}

	td,
	th {
		max-width: 6.25em;
	}
}

@media screen and (min-width: 25.25em) {

	td:last-child,
	th:last-child {
		word-break: break-word;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1c1c1c;
		color: #eaeaea;
	}

	button,
	input,
	select {
		background-color: #383838;
		color: #eaeaea;
	}

	button,
	input,
	select,
	details {
		border: .125em solid #383838;
	}

	details[open] summary {
		border-bottom: .125em solid #383838;
	}

	td:not(:last-child),
	th:not(:last-child) {
		border-right: .125em solid #545454;
	}

	tr:not(:last-child) th,
	tr:not(:last-child) td {
		border-bottom: .125em solid #545454;
	}

	hr {
		border: .0625em solid #545454;
	}
}