body {
	font: 1.1em sans-serif;
}

.container {
	display: flex;
}

.vertical {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.hidden {
	visibility: hidden;
}

canvas,
details {
	max-width: 500px;
}

table,
details {
	border-spacing: 0;
	border: 2px solid black;
	border-radius: 4px;
	margin: 0.5em;
}

th,
td {
	padding: 0.5em
}

td:not(:last-child),
th:not(:last-child) {
	border-right: 2px solid black;
}

tr:not(:last-child) th,
tr:not(:last-child) td {
	border-bottom: 2px solid black;
}

details {
	padding: 0.5em 0.5em 0;
	width: fit-content;
}

table {
	overflow: auto;
	display: inline-block;
	max-height: 450px;
}

summary {
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 2px solid black;
	margin-bottom: 0.5em;
}

hr {
	border: 1px solid black;
}

#upload {
	display: none;
}

button,
input,
select {
	border: 2px solid black;
	border-radius: 4px;
	background-color: gainsboro;
	padding: .2em .4em;
	margin: .2em 0;
	font-size: .8em;
}

@media screen and (max-width: 600px) {
	canvas {
		width: 90%;
	}

	table {
		max-width: 95%;
	}
}